body{
margin:0;
overflow:hidden;
background:black;
}

#screen{
position:relative;
width:1920px;
height:1080px;
}

#template{
width:100%;
height:100%;
}

#personImage{
position:absolute;
top:120px;
left: 1330px;
width:450px;
height:560px;
object-fit:cover;
border-radius:20px;
}

#personName{
position:absolute;
top:710px;
left: 1460px;
font-size:60px;
color:rgb(0, 0, 0);
font-weight:bold;
}

#personBranch{
position:absolute;
top: 780px;
left:1500px;
font-size:40px;
color:rgb(0, 0, 0);
}